<!-- start contact content --> 
<section> 
<div class="landing-icons"> 
<div class="row">
 <div class="card neumorphism-card-big"> 
<form class="contactform" action="https://formspree.io/devilking6105@gmail.com" method="POST" style="text-align: center">
 <p class="comment-form-author" style="text-align: center">
 <label for="author">Name <span class="required">*</span>
</label>
 <input type="text" required="required" size="30" value="" name="author">
 </p>
 <p class="comment-form-email" style="text-align: center">
 <label for="email">Email <span class="required">*</span>
</label> <input type="email" required="required" aria-required="true" value="" name="email">
 </p> 
<p class="comment-form-url"> 
<label for="subject">Subject</label> 
<input type="text" name="subject">
 </p> 
<p class="comment-form-comment"> 
<label for="comment">Message</label> 
<textarea required="required" aria-required="true" rows="8" cols="45" name="comment" style="margin: 0px; width: 279px; height: 160px;"></textarea>
 </p> 
<p class="form-submit">
 <input type="submit" value="Send Message" class="mu-post-btn" name="submit">
 <input type="hidden" name="_next" value="https://michaelhdesigns.github.io/contact" />
 </p> 
</form>
 </div> 
</div></div></section>



<h1 class="title" style="color: #34bcaa; text-align: center">{{site.contact_title}}</h1>
<p class="subtitle">{{site.contact_description}}</p>

<div class="contact-icons">
  {% if site.email != null %}
  <a class="social-link" aria-label="My E-Mail" href="mailto:{{site.email}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/solid.svg#envelope" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.dev_username != null %}
  <a class="social-link black" aria-label="My DEV" target="_blank" rel="noreferrer"
    href="https://discord.gg/r7zKfy5{{site.dev_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#discord" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.facebook_username != null %}
  <a class="social-link linkedin" aria-label="My LinkedIn" target="_blank" rel="noreferrer"
    href="https://www.facebook.com/{{site.facebook_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#facebook" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.twitter_username != null %}
  <a class="social-link twitter" aria-label="My Twitter" target="_blank" rel="noreferrer"
    href="https://twitter.com/{{site.twitter_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#twitter" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}
</div>
